{
    "retainLines": true,
    "plugins": [
        "add-module-exports",
        "transform-decorators-legacy",
        // ES2015 stuff ---
        "transform-es2015-modules-commonjs",
        "transform-es2015-destructuring",
        "transform-object-rest-spread",
        // React ---
        "transform-react-jsx"
    ]
}